
<!--<p>
  <a href="{% url 'web:home' %}">Enterpreneur</a>
</p>-->
{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Background Image</title>


    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">


    <link href="{%static 'bootstrap/dist/css/jumbotron.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
    body{
      background: url('{% static "web/images/beach.jpg" %}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /*background-image: url('{% static "web/images/beach.jpg" %}');*/
    }

    </style>

  </head>

  <body>






  </body>
</html>

